# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\프로그래밍\NodeJS\Attendance-Discord\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
