DISCORD_TOKEN=Nzk5MDY2OTg4NzMxMTcwODk3.X_-LIA._luhd-JytR4PwksEdNJDofEERag
DISCORD_SECRET=Nzk5MDY2OTg4NzMxMTcwODk3.X_-LIA._luhd-JytR4PwksEdNJDofEERag

NODE_ENV=development


# NOTE: Please create another dotenv file with the name .prod.env for production purposes. (Used in Docker)